/*@import url('http://fonts.googleapis.com/css2?family=Nanum+Pen+Script&dis-play=swap');

*{
    margin:20px;
    padding:0;
    box-sizing:border-box;
}

#postit{
    width:333px;
    height:333px;
    background-color: #ff9;
    transform: rotate(10deg);
    text-align: center;
    font-family: "Nanum Pen Script", cursive;
}

#postit h1{
    font-size: 44px;
    margin-bottom: 20px;
    font-weight: normal;
}

#postit p {
    font-size: 25px;
    margin-bottom: 20px;

}

@import url('https://fonts.googleapix.com/css2?family=Roboto:wght@400;700&dis-play=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
}

#login {
    width:304px;
    height: 390px;
    padding:28px 38px;
    border:1px solid #000;
    margin:100px auto;
}

#login fieldset{
    border:none;
}

#login fieldset legend{
    position: absolute;
    top:-99999px;
}

#login button{
    width:228px;
    height:44px;
    border:solid #000;
    background-color: white;
    font-weight: bold;
}

#login input{
    width: 228px;
    height:44px;
    border: solid #000;
    padding:0 10px;
    margin-bottom: 21px;
    background-color: #eaeaea;
}

#login > fieldset + p {
    margin:24px 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

#login button[type='submit']{
    background-color:#373F3C;
    color:white;
    margin-bottom: 27px;
    font-weight: normal;
}

#login a {
    text-decoration: none;
    font-size: 16px;
    color:#2c3432;
    text-align: center;
    display: block;
}*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color:#0645ad;
}


#list {
    width: 346px;
    height: 265px;
    background-color: #f8f9fa;
    border:1px solid #a2a9b1;
    padding: 6px 5px;
    margin:20px auto;
}


#list h1{
    font-size: 13px;
    text-align: center;
}

#list ol li{
    list-style:none;
    font-size: 13px;
}

#list ol li a{
    text-decoration: none;
    height:21px;
    display: inline-block;
}

.list ol li ol{
    margin-left: 26px;
}



